#article-header-bar {
  height: 3rem;
  background-color: #666666;
  color: #ededed;
  padding: 0 1rem;
}

#post-username {
  margin-right: auto;
  margin-left: 0.5rem;
}

#logged-in-user-avatar {
  transform: translateY(-1rem);
}

#post-date {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
